source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.1, netstandard2.0, netstandard2.1
nuget GitTools.Core-alt 1.3.1.2 restriction: >= net461
nuget GitVersionTask.alt 4.0.2-alpha-0006 alpha restriction: >= net461
nuget icu.net 2.5.4 restriction: >= net461
nuget Icu4c.Win.Min 54.1.31 restriction: >= net40
nuget JetBrains.Annotations 10.4.0 restriction: >= net461
nuget L10NSharp.ExtractXliff 4.1.0-beta0027 beta
nuget LibGit2Sharp 0.26.0 restriction: >= net461
nuget LibGit2Sharp.NativeBinaries 2.0.267 restriction: >= net461
nuget Microsoft.CSharp 4.3.0 restriction: >= net461
nuget Microsoft.DotNet.PlatformAbstractions 2.0.4 restriction: >= net461
nuget Microsoft.Extensions.DependencyModel 2.0.4 restriction: >= net461
nuget MSBuild.Extension.Pack 1.9.1
nuget MSBuildTasks 1.5.0.235 restriction: >= net40
nuget Newtonsoft.Json 9.0.1
nuget NUnit 2.6.4
nuget SIL.BuildTasks 2.3.0-beta.14 beta
nuget SIL.Chorus.l10ns >= 3.0.1
nuget SIL.libpalaso.l10ns 6.0.0
nuget System.Dynamic.Runtime 4.3.0 restriction: >= net461
nuget System.Runtime.Serialization.Primitives 4.3.0 restriction: >= net461
nuget System.ValueTuple 4.5.0 restriction: >= net461
nuget Vulcan.Uczniowie.HelpProvider 1.0.1 restriction: >= net461
nuget YamlDotNet 5.2.1 restriction: >= net461